.stat-block {
    background-color: white;
    height: 150px;
    padding: 20px;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-block:hover {
    background-color: #ffa148;
}

.stat-block.no-hover:hover {
    background-color: white;
    cursor: default;
}