/*-----------------------------------------------*/

.page {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
  margin-top: 50px; /*Margin with header --> adjust it when u have header*/
  margin-left: 250px;
  margin-bottom: 0px;
  margin-right: 0px;
  width: calc(100% - 250px);
  height: calc(100vh - 50px);
}
