.user-chat-info {
    width: 100%;
    height: 100px;
    margin: 0!important;
    padding: 0!important;
    border-bottom: 1px solid #E9EAF0;
}

.user-chat-info-button {
    background-color: #F5F7FA;
    color: #000;
    border: none;
}

.user-chat-info-button:focus {
    background-color: #F5F7FA;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none!important;
}

.user-chat-info-button:active, .user-chat-info-button:hover {
    background-color: #c5c9cd;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none!important;
}

.user-chat-box {
    width: 100%;
    /* height: 100px; */
    margin: 0!important;
    padding: 10px 0 10px 0;
}

.chat-avatar-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.message-box-1-container {
    display: flex;
    align-items: end;
    text-align: left;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-box-2-container {
    display: flex;
    align-items: start;
    text-align: left;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-box-1 {
    max-width: 70%;
    background-color:#FF6636;
    color: white;
    margin: 0!important;
    width: fit-content;
    /* border-radius: 5px; */
}

.message-box-2 {
    max-width: 70%;
    background-color:#FFDDD1;
    color: black;
    margin: 0!important;
    width: fit-content;
    /* border-radius: 5px; */
}

.user-chat-input {
    width: 100%;
    height: 75px;
    margin: 0!important;
    padding: 0!important;
    border-top: 1px solid #E9EAF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-chat-group {
    width: 100%;
    height: 100%;
}

.user-chat-group-input {
    margin: 0px 10px 0px 10px;
    border: 1px solid #ccc;
}

.user-chat-group-input:focus {
    outline: none;
    box-shadow: none;
}

.user-chat-group-button {
    margin: 0px 10px 0px 10px;
    color: white;
    background-color: #FF6636;
    border-radius: 0;
    border: none;
}

.user-chat-group-button:hover{
    background-color: #d4471c;
    border: none;
}

.user-chat-group-button:active {
    background-color: #d4471c;
    border: none;
    transform: scale(0.95);
}